module.exports = {
  tokenLen: 60,
  psaInterval: 1000,
  server: {
    port: 3000
  },
  database: {
    username: 'root',
    password: 'root',
    host: 'localhost',
    port: 3306,
    name: 'chat_database'
  },
  environment: 'dev'
}
